[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pymzml = "*"
scipy = "*"
matplotlib = "*"
molmass = "*"
requests = "*"
pandas = "*"
jupyterlab = "*"
xlsxwriter = "*"
xlrd = "*"
kivy = "*"

[dev-packages]

[requires]
python_version = "3.6"
